In [139]:
import pandas as pd
import numpy as np

import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline

In [140]:
df = pd.read_csv("WA_Fn-UseC_-Telco-Customer-Churn.csv")

In [141]:
df.shape

(7043, 21)

In [142]:
df.head().T

,0,1,2,3,4
customerID,7590-VHVEG,5575-GNVDE,3668-QPYBK,7795-CFOCW,9237-HQITU
gender,Female,Male,Male,Male,Female
SeniorCitizen,0,0,0,0,0
Partner,Yes,No,No,No,No
Dependents,No,No,No,No,No
tenure,1,34,2,45,2
PhoneService,No,Yes,Yes,No,Yes
MultipleLines,No phone service,No,No,No phone service,No
InternetService,DSL,DSL,DSL,DSL,Fiber optic
OnlineSecurity,No,Yes,Yes,Yes,No
OnlineBackup,Yes,No,Yes,No,No
DeviceProtection,No,Yes,No,Yes,No
TechSupport,No,No,No,Yes,No
StreamingTV,No,No,No,No,No
StreamingMovies,No,No,No,No,No
Contract,Month-to-month,One year,Month-to-month,One year,Month-to-month
PaperlessBilling,Yes,No,Yes,No,Yes
PaymentMethod,Electronic check,Mailed check,Mailed check,Bank transfer (automatic),Electronic check
MonthlyCharges,29.85,56.95,53.85,42.3,70.7
TotalCharges,29.85,1889.5,108.15,1840.75,151.65
Churn,No,No,Yes,No,Yes

In [143]:
df.Churn.value_counts()

No     5174
Yes    1869
Name: Churn, dtype: int64

In [144]:
df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [145]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [146]:
total_charges = pd.to_numeric(df.TotalCharges, errors='coerce')

In [147]:
total_charges

0         29.85
1       1889.50
2        108.15
3       1840.75
4        151.65
         ...
7038    1990.50
7039    7362.90
7040     346.45
7041     306.60
7042    6844.50
Name: TotalCharges, Length: 7043, dtype: float64

In [148]:
df[total_charges.isnull()][['customerID', 'TotalCharges']]

      customerID TotalCharges
488   4472-LVYGI
753   3115-CZMZD
936   5709-LVOEQ
1082  4367-NUYAO
1340  1371-DWPAZ
3331  7644-OMVMY
3826  3213-VVOLG
4380  2520-SGTTA
5218  2923-ARZLG
6670  4075-WKNIU
6754  2775-SEFEE

We see that indeed there are spaces in the TotalCharges column

We set the missing values to 0

In [149]:
df.TotalCharges = pd.to_numeric(df.TotalCharges, errors='coerce')
df.TotalCharges = df.TotalCharges.fillna(0)

In [150]:
df[total_charges.isnull()][['customerID', 'TotalCharges']]

      customerID  TotalCharges
488   4472-LVYGI           0.0
753   3115-CZMZD           0.0
936   5709-LVOEQ           0.0
1082  4367-NUYAO           0.0
1340  1371-DWPAZ           0.0
3331  7644-OMVMY           0.0
3826  3213-VVOLG           0.0
4380  2520-SGTTA           0.0
5218  2923-ARZLG           0.0
6670  4075-WKNIU           0.0
6754  2775-SEFEE           0.0

Let's make it uniform by lowercasing everything and replacing spaces with underscores.

In [151]:
df.columns = df.columns.str.lower().str.replace(' ','_')

In [152]:
df.columns

Index(['customerid', 'gender', 'seniorcitizen', 'partner', 'dependents',
       'tenure', 'phoneservice', 'multiplelines', 'internetservice',
       'onlinesecurity', 'onlinebackup', 'deviceprotection', 'techsupport',
       'streamingtv', 'streamingmovies', 'contract', 'paperlessbilling',
       'paymentmethod', 'monthlycharges', 'totalcharges', 'churn'],
      dtype='object')

In [153]:
string_columns = list(df.dtypes[df.dtypes == 'object'].index)
string_columns

['customerid',
 'gender',
 'partner',
 'dependents',
 'phoneservice',
 'multiplelines',
 'internetservice',
 'onlinesecurity',
 'onlinebackup',
 'deviceprotection',
 'techsupport',
 'streamingtv',
 'streamingmovies',
 'contract',
 'paperlessbilling',
 'paymentmethod',
 'churn']

In [154]:
for col in string_columns:
    df[col] = df[col].str.lower().str.replace(' ', '_')

In [155]:
df.head().T

,0,1,2,3,4
customerid,7590-vhveg,5575-gnvde,3668-qpybk,7795-cfocw,9237-hqitu
gender,female,male,male,male,female
seniorcitizen,0,0,0,0,0
partner,yes,no,no,no,no
dependents,no,no,no,no,no
tenure,1,34,2,45,2
phoneservice,no,yes,yes,no,yes
multiplelines,no_phone_service,no,no,no_phone_service,no
internetservice,dsl,dsl,dsl,dsl,fiber_optic
onlinesecurity,no,yes,yes,yes,no
onlinebackup,yes,no,yes,no,no
deviceprotection,no,yes,no,yes,no
techsupport,no,no,no,yes,no
streamingtv,no,no,no,no,no
streamingmovies,no,no,no,no,no
contract,month-to-month,one_year,month-to-month,one_year,month-to-month
paperlessbilling,yes,no,yes,no,yes
paymentmethod,electronic_check,mailed_check,mailed_check,bank_transfer_(automatic),electronic_check
monthlycharges,29.85,56.95,53.85,42.3,70.7
totalcharges,29.85,1889.5,108.15,1840.75,151.65
churn,no,no,yes,no,yes

In [156]:
df['internetservice']

0               dsl
1               dsl
2               dsl
3               dsl
4       fiber_optic
           ...
7038            dsl
7039    fiber_optic
7040            dsl
7041    fiber_optic
7042    fiber_optic
Name: internetservice, Length: 7043, dtype: object

### Target Variable _churn_'

Currently, It's categorical, with two values; "yes" or "no". For binary classification, we will convert 0 to "no", 1 to "yes"

In [157]:
df.churn.value_counts()

no     5174
yes    1869
Name: churn, dtype: int64

In [158]:
df.churn = (df.churn == 'yes').astype(int)
df.churn

0       0
1       0
2       1
3       0
4       1
       ..
7038    0
7039    0
7040    0
7041    1
7042    0
Name: churn, Length: 7043, dtype: int64

In [159]:
df.churn.head()

0    0
1    0
2    1
3    0
4    1
Name: churn, dtype: int64

In [160]:
(df.churn == 'yes').head()

0    False
1    False
2    False
3    False
4    False
Name: churn, dtype: bool

In [161]:
(df.churn == 'yes').astype(int).head()

0    0
1    0
2    0
3    0
4    0
Name: churn, dtype: int64

In [162]:
df.churn.value_counts()

0    5174
1    1869
Name: churn, dtype: int64

In [163]:
from sklearn.model_selection import train_test_split

In [164]:
df_train_full, df_test = train_test_split(df, test_size=0.2, random_state=1)

In [165]:
df_train_full.churn.value_counts()

0    4113
1    1521
Name: churn, dtype: int64

In [166]:
len(df_train_full), len(df_test)

(5634, 1409)

In [167]:
df_train_full.head()

,customerid,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,...,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,monthlycharges,totalcharges,churn
1814,5442-pptjy,male,0,yes,yes,12,yes,no,no,no_internet_service,...,no_internet_service,no_internet_service,no_internet_service,no_internet_service,two_year,no,mailed_check,19.70,258.35,0
5946,6261-rcvns,female,0,no,no,42,yes,no,dsl,yes,...,yes,yes,no,yes,one_year,no,credit_card_(automatic),73.90,3160.55,1
3881,2176-osjuv,male,0,yes,no,71,yes,yes,dsl,yes,...,no,yes,no,no,two_year,no,bank_transfer_(automatic),65.15,4681.75,0
2389,6161-erdgd,male,0,yes,yes,71,yes,yes,dsl,yes,...,yes,yes,yes,yes,one_year,no,electronic_check,85.45,6300.85,0
3676,2364-ufrom,male,0,no,no,30,yes,no,dsl,yes,...,no,yes,yes,no,one_year,no,electronic_check,70.40,2044.75,0

The **train_test_split** function splits the data into two parts, train and test. we can split the original dataset into threeparts; train, validation and test. We just take one part and split it again.

Let's take the **df_train_full** dataframe and split it one more time into train and validation:

In [168]:
df_train, df_val = train_test_split(df_train_full, test_size=0.25, random_state=1)

In [169]:
len(df_train), len(df_val), len(df_test)

(4225, 1409, 1409)

In [170]:
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [171]:
y_train = df_train.churn.values
y_val = df_val.churn.values
y_test = df_test.churn.values

In [172]:
del df_train['churn']
del df_val['churn']
del df_test['churn']

## EDA

In [174]:
df_train_full.churn.value_counts()

0    4113
1    1521
Name: churn, dtype: int64

In [175]:
df_train_full.reset_index(drop=True)

,customerid,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,...,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,monthlycharges,totalcharges,churn
0,5442-pptjy,male,0,yes,yes,12,yes,no,no,no_internet_service,...,no_internet_service,no_internet_service,no_internet_service,no_internet_service,two_year,no,mailed_check,19.70,258.35,0
1,6261-rcvns,female,0,no,no,42,yes,no,dsl,yes,...,yes,yes,no,yes,one_year,no,credit_card_(automatic),73.90,3160.55,1
2,2176-osjuv,male,0,yes,no,71,yes,yes,dsl,yes,...,no,yes,no,no,two_year,no,bank_transfer_(automatic),65.15,4681.75,0
3,6161-erdgd,male,0,yes,yes,71,yes,yes,dsl,yes,...,yes,yes,yes,yes,one_year,no,electronic_check,85.45,6300.85,0
4,2364-ufrom,male,0,no,no,30,yes,no,dsl,yes,...,no,yes,yes,no,one_year,no,electronic_check,70.40,2044.75,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5629,0781-lkxbr,male,1,no,no,9,yes,yes,fiber_optic,no,...,yes,no,yes,yes,month-to-month,yes,electronic_check,100.50,918.60,1
5630,3507-gasnp,male,0,no,yes,60,yes,no,no,no_internet_service,...,no_internet_service,no_internet_service,no_internet_service,no_internet_service,two_year,no,mailed_check,19.95,1189.90,0
5631,8868-wozgu,male,0,no,no,28,yes,yes,fiber_optic,no,...,yes,no,yes,yes,month-to-month,yes,electronic_check,105.70,2979.50,1
5632,1251-krreg,male,0,no,no,2,yes,yes,dsl,no,...,no,no,no,no,month-to-month,yes,mailed_check,54.40,114.10,1
5633,5840-nvdcg,female,0,yes,yes,16,yes,no,dsl,yes,...,no,yes,no,yes,two_year,no,bank_transfer_(automatic),68.25,1114.85,0

In [176]:
df_train_full.isnull().sum()

customerid          0
gender              0
seniorcitizen       0
partner             0
dependents          0
tenure              0
phoneservice        0
multiplelines       0
internetservice     0
onlinesecurity      0
onlinebackup        0
deviceprotection    0
techsupport         0
streamingtv         0
streamingmovies     0
contract            0
paperlessbilling    0
paymentmethod       0
monthlycharges      0
totalcharges        0
churn               0
dtype: int64

Another thing we should do is check the **distribution of values in the target variable.**

In [177]:
df_train_full.churn.value_counts(normalize=True)

0    0.730032
1    0.269968
Name: churn, dtype: float64

In [107]:
df_train_full.churn.value_counts()

0    5634
Name: churn, dtype: int64

In [27]:
4113+1521

5634

In [28]:
round(1521/(4113+1521), 3)

0.27

There's another way to calculate the churn rate: the _mean()_ method.

In [29]:
global_mean = df_train_full.churn.mean()
round(global_mean, 3)

0.0

Our churn dataset is an example of a so-called _imbalanced_ dataset. Clearly seen that the churn rate in our data is 0.27, which is a strong indicator of class imbalance.

Both categorical and numerical variables in our dataset are important, but they are also different and need different treatment.

We will create two lists:

In [30]:
categorical = ['gender', 'seniorcitizen', 'partner', 'dependents',
               'phoneservice', 'multiplelines', 'internetservice',
               'onlinesecurity', 'onlinebackup', 'deviceprotection', 
               'techsupport','streamingtv', 'streamingmovies', 
               'contract', 'paperlessbilling','paymentmethod']

In [31]:
numerical = ['tenure','monthlycharges', 'totalcharges']

First, we can see how many unique values each variable has.

In [32]:
df_train_full[categorical].nunique()

gender              2
seniorcitizen       2
partner             2
dependents          2
phoneservice        2
multiplelines       3
internetservice     3
onlinesecurity      3
onlinebackup        3
deviceprotection    3
techsupport         3
streamingtv         3
streamingmovies     3
contract            3
paperlessbilling    2
paymentmethod       4
dtype: int64

Now we come to another important part of exploratory data analysis: understanding which features may be important for our model.

### Feature Importance

    Knowing how other variables affect the target variable, churn, is the key to understanding the data and building a good model. This process is called _feature importance analysis_, and it's often done as a part of exploratory data analysis to figure out which variables will be useful for the model.

### Churn Rate

    Let's start by looking categorical variable. We know that a categorical variable has a set of values it can take, and each value defines a group inside the dataset. For each group, we can compute the churn rate, which is the group churn rate. When we have it, we can compare it with the global churn rate - the churn rate calculated for all the observations at once.

    If the difference between the rates is small, the value is not important when predicting churn because this group of customers is not really different from the rest of the customers.
    
    Let's check first for the gender variable. We first select only rows that correspond to gender == 'female' and then compute the churn rate for them:

In [33]:
female_mean = round(df_train_full[df_train_full.gender == 'female'].churn.mean(), 4)
female_mean

nan

We then do the same for all male customers:

In [34]:
male_mean = df_train_full[df_train_full.gender == 'male'].churn.mean()
male_mean

nan

    The difference between the group rates for both females and males is quite small, which indicates that knowing the gender of the customer doesn't help us identifying whether  they will churn.

    Let's take a look another variable: **partner**. It takes values of _yes_ and _no_, so there are two groups of customer.

In [35]:
partner_yes = df_train_full[df_train_full.partner == 'yes'].churn.mean()
partner_yes

nan

In [36]:
partner_no = df_train_full[df_train_full.partner == 'no'].churn.mean()
partner_no

nan

It means that clients with no partners are more likely to churn than the ones with a partner.

### Risk Ratio

In addition to looking at the difference between the group rate and the global rate, it's interesting to look at the ratio between them. In statistics, the ratio between porbabilities in differet groups is called the _risk ratio_, where _risk_ refers to the risk of having the effect.

In our case the effect is churn, so it's the risk of churning:

risk = group rate / global rate

For gender == female, for example, the risk of churning is 1.02:

risk = 27.7% / 27% = 1.02

If the difference between the group rate and the global rate is small, the risk is close to 1: this group has the same level of risk as the rest of the population. In other words, a group with a risk close to 1 is not risky at all.

If the risk is lower than 1, the group has lower risks: the churn rate in this group is smaller than the global churn.

On the other hand, if the value is higher than 1, the group is risky: there is more churn in the group than in the population.

We did this from only two variables. Let's now do this fo all the categorical variables. To do that, we need a piece of code that checks all the values a variable has and computes churn rate for each of these values.

If we use SQL, that would be straightforward to do. For gender, we'd need to do something like this:

    SELECT
        gender, AVG(churn),
        AVG(churn) - global_churn,
        AVG(churn) / global_churn
    FROM
        data
    GROUP BY
        gender

Let's translate to Pandas:

In [37]:
global_mean = df_train_full.churn.mean()

In [38]:
df_group = df_train_full.groupby('gender').churn.agg(['mean']) # computes the AVG(churn)
df_group['diff'] = df_group['mean'] - global_mean # Calculates the difference between group churn and global rate
df_group['risk'] = df_group['mean'] / global_mean # Calculates the risk of churning

In [39]:
df_group

        mean  diff  risk
gender
Female     0   0.0   NaN
Male       0   0.0   NaN

Let's do that for all categorical variables.

In [40]:
from IPython.display import display

In [41]:
for col in categorical:
    df_group = df_train_full.groupby(by=col).churn.agg(['mean'])
    df_group['diff'] = df_group['mean'] - global_mean
    df_group['risk'] = df_group['mean'] / global_mean
    display(df_group)

        mean  diff  risk
gender
Female     0   0.0   NaN
Male       0   0.0   NaN

               mean  diff  risk
seniorcitizen
0                 0   0.0   NaN
1                 0   0.0   NaN

         mean  diff  risk
partner
No          0   0.0   NaN
Yes         0   0.0   NaN

            mean  diff  risk
dependents
No             0   0.0   NaN
Yes            0   0.0   NaN

              mean  diff  risk
phoneservice
No               0   0.0   NaN
Yes              0   0.0   NaN

                  mean  diff  risk
multiplelines
No                   0   0.0   NaN
No phone service     0   0.0   NaN
Yes                  0   0.0   NaN

                 mean  diff  risk
internetservice
DSL                 0   0.0   NaN
Fiber optic         0   0.0   NaN
No                  0   0.0   NaN

                     mean  diff  risk
onlinesecurity
No                      0   0.0   NaN
No internet service     0   0.0   NaN
Yes                     0   0.0   NaN

                     mean  diff  risk
onlinebackup
No                      0   0.0   NaN
No internet service     0   0.0   NaN
Yes                     0   0.0   NaN

                     mean  diff  risk
deviceprotection
No                      0   0.0   NaN
No internet service     0   0.0   NaN
Yes                     0   0.0   NaN

                     mean  diff  risk
techsupport
No                      0   0.0   NaN
No internet service     0   0.0   NaN
Yes                     0   0.0   NaN

                     mean  diff  risk
streamingtv
No                      0   0.0   NaN
No internet service     0   0.0   NaN
Yes                     0   0.0   NaN

                     mean  diff  risk
streamingmovies
No                      0   0.0   NaN
No internet service     0   0.0   NaN
Yes                     0   0.0   NaN

                mean  diff  risk
contract
Month-to-month     0   0.0   NaN
One year           0   0.0   NaN
Two year           0   0.0   NaN

                  mean  diff  risk
paperlessbilling
No                   0   0.0   NaN
Yes                  0   0.0   NaN

                           mean  diff  risk
paymentmethod
Bank transfer (automatic)     0   0.0   NaN
Credit card (automatic)       0   0.0   NaN
Electronic check              0   0.0   NaN
Mailed check                  0   0.0   NaN

This way, just by looking at the differences and the risks, we can identify the most discriminative features: the features thats are helpful for detecting churn. Thus, we expect that these features will be ueful for our future models.

### Mutual Information

The kinds of differences we just explored are useful for our analysis and important for understanding the data, but it's hard to use them to say what the most important feature is and whether tech support is more useful than the type of contract.

Luckliy, the metrics of importance can help us: we can measure the degree of dependency between a categorical variable and the target variable.

For a categrical variables, one such metric is mutual information, which tells how much information we learn about one variable if we learn the value of the other variable.

Higher values of mutual information mean a higher degree of dependence: if the mutual information between a categorical variable and the target is high, this categorical variable will be quite useful for predicting the target. On the other hand, if the mutual information is low, the categorical variable and the target are independent, and thus the variable will not be useful for predicting the target.

Mutual information is already implemented in Scikit-learn in the _mutual_info_score_ function from the _metrics_ package, so we can just use it:

In [42]:
from sklearn.metrics import mutual_info_score

def calculate_mi(series):
    """
    Create a stand-alone function for calculating mutual information
    """
    return mutual_info_score(series, df_train_full.churn)

df_mi = df_train_full[categorical].apply(calculate_mi) # Applies the functionto each caategorical column of the dataset
print(type(df_mi))
df_mi = df_mi.sort_values(ascending=False).to_frame(name='MI') # Sort the values of the result
print(type(df_mi))
print(df_mi)

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>
                            MI
gender            4.440892e-16
streamingmovies   5.551115e-17
seniorcitizen     0.000000e+00
partner           0.000000e+00
dependents        0.000000e+00
phoneservice      0.000000e+00
multiplelines     0.000000e+00
internetservice   0.000000e+00
onlinesecurity    0.000000e+00
onlinebackup      0.000000e+00
deviceprotection  0.000000e+00
techsupport       0.000000e+00
streamingtv       0.000000e+00
contract          0.000000e+00
paperlessbilling  0.000000e+00
paymentmethod     0.000000e+00

As we see, _contract, onlinesecurity, and techsupport_ are among the most important features.

## Correlation Coefficient

Mutual information is a way to quantify the degree of dependency between two categorical variables, but it doesn't work when one of the feature is numerical, so we cannot apply it to three numerical variables that we have. 

We can, however, measure the dependency between a binary target vriable and a numerical variable. We can pretend that the binary variable is numerical (containing only the numbers zero and one) and then use the classical methods from statistics to check for any dependency between these variables.